.button {
  position: absolute;
  top: 0;
  right: 5px;
  height: 30px;
  color: unset;
  background: unset;
  border: none;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

.cardContainer {
  border: 1px solid;
  text-align: center;
  width: 350px;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: white;
}

.loading {
  text-align: center;
}

.pokemonName {
  line-height: 50px;
  display: block;
}
