.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  justify-content: center;
}

.center {
  grid-column-gap: 0px;
}

@media screen and (min-width: 667px) and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(2, auto);
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .gridContainer {
    grid-template-columns: repeat(1, auto);
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .gridContainer {
    grid-template-columns: repeat(1, auto);
  }
}

/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .gridContainer {
    grid-template-columns: repeat(2, auto);
  }
}

/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .gridContainer {
    grid-template-columns: repeat(1, auto);
  }
}

/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .gridContainer {
    grid-template-columns: repeat(2, auto);
  }
}

/* iPads */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .gridContainer {
    grid-template-columns: repeat(3, auto);
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .gridContainer {
    grid-template-columns: repeat(3, auto);
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .gridContainer {
    grid-template-columns: repeat(3, auto);
  }
}

/* Landscape */

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .gridContainer {
    grid-column-gap: 10px;
  }
}
